<article>
  <header>
    <div class="user" id="user-{{userId}}">
      <div class="avatar">
        <img src="{{avatar}}" alt="{{realName}}" />
      </div>

      <div class="details">
        <span class="real-name">{{realName}}</span>
        <span class="screen-name">{{screenName}}</span>

        <div class="bd">
          <ul class="">
            <li class="following">
              <span class="label">Am I following this person?</span>
              <span class="data">{{following}}</span>
            </li>
            <li class="followers">
              <span class="label">Followers:</span>
              <span class="data">{{followers}}</span>
            </li>
            <li class="friends">
              <span class="label">Following:</span>
              <span class="data">{{friends}}</span>
            </li>
            <li class="location">
              <span class="label">Location:</span>
              <span class="data">{{location}}</span>
            </li>
            <li class="url">
              <span class="label">Website:</span>
              <span class="data">{{{url}}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div class="text">{{{text}}}</div>
  <footer>
    <time pubdate>{{created_at}}</time>
  </footer>
</article>